# This file is used to set the defaults 'inventory' and also the 'private-key-file' to be used
# when running ansible commands in this git repository
#
#
[defaults]
inventory=inventory
private_key_file=/root/.ssh/id_ed25519
